[Unit]
Description=MT llama LLM service

[Service]
Type=simple
Environment=LD_LIBRARY_PATH=/usr/local/llama-server/lib:${LD_LIBRARY_PATH} MUSA_MEMCPY_PATH=2 PORT=26137 LLM_MODEL="/usr/local/llama-server/Phi-3-mini-4k-instruct-q4.gguf"
ExecStart=/usr/local/llama-server/llama-server -m $LLM_MODEL -n 200 -ngl 10000 -fa --embeddings -cnv --port $PORT
#Restart=always
#RestartSec=3
CPUQuota=0

[Install]
WantedBy=multi-user.target
